@import "../../styles/styles";
.header-container{
    width: 100vw;
    height: 100px;
    background: transparent;
    border-bottom: 1px solid rgba($secondary_color, 0.1);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        .logo{
            width: 80px;
            user-select: none;
            margin-top: -10px;
        }
        .logo-text{
            font-size: 11px;
            margin-top: -11px;
            font-weight: 500;
            font-family: 'Cerebri', serif ;
        }
    }
    .header-item{
        padding: 0 20px;
        font-weight: 600;
        transition: 0.4s all ease;
        &.active{
            color: $primary_color;
        }
    }
    .header-item:hover{
        cursor: pointer;
        color: $primary_color;
    }
    .menu-item{
        color: $secondary_color;
        cursor: pointer;
        transition: 0.4s ease all;
    }
    .menu-item:hover{
        color: $primary_color;
    }
}