@import "../../theme/styles/styles";

.home-container{
    width: 100vw;
    min-height: 200vh;
    background: url('../../../assets/images/NOISE.png'), radial-gradient(circle, $soft-gray 0%, $hard-gray 100%);
    line-height: 1;
}
