@import "../../theme/styles/styles";

.home-container{
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background: radial-gradient(circle, $soft-gray 0%, $hard-gray 100%);
    display: flex;
    align-items: center;
    padding: 100px 60px 0 60px;
    line-height: 1;
    .image-container{
        width: 30rem;
        height: 40rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .image-mask{
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .image-personal{
            position: absolute;
            width: 85%;
            object-fit: contain;
        }
        .wave-layer{
            position: absolute;
            z-index: 1;
            right: -2rem;
            bottom: 5rem;
        }
    }
}
